.skip a{
    position: absolute;
    top: -40px;
}

.skip a:focus{
    top: 20px
}

nav {
    background-color: #00274C;
    padding: 40px 15px;
    margin: 0;
    box-sizing: border-box;
    font-size: .9rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a{
    text-decoration: underline;
    color: #FFCB05;
    padding: 10px 8px;
}

main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 20px;
}

main h1 {
    grid-column: 1 / -1;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #00274C;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
}

main div:first-of-type {
    background-color: white;
    color: #00274C;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    font-size: .75rem;
    line-height: 1.5;
}

main div{
    display: block;
    background: #00274C;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    border-radius: 5px;
    font-size: .75rem;
    line-height: 1.5;
}

main div h2{
    text-align: center;
    color: #FFCB05;
    font-size: 1rem;
}

main div ul{
    padding: 20px;
}

main div h3{
    text-align: left;
    color: #FFCB05;
    font-size: .75rem;
}

main div a{
    text-decoration: underline;
    color: white;
}

main section h2{
    text-align: center;
    color: #FFCB05;
    font-size: 1rem;
}

main section {
    background: #00274C;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 20px 20px;
    font-size: .75rem;
}

main section article h3{
    color: #FFCB05;
}

main section article figure{
    text-align: center;
    font-size: .5rem;
}

main section ol {
    padding: 0px 20px;
    align-content: center;
}

main img {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
}

figure {
    text-align: center;
}

footer {
    background-color: #00274C;
    color: white;
    text-align: center;
    padding: 20px 20px;
    margin-top: auto;;
    text-align: center;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

footer ul{
    padding: 30px 20px;
}

footer a{
    text-decoration: underline;
    color: #FFCB05;
}

.umlogo{
    width: 50%;
    align-items: center;
    grid-column: 1/-1;
}